<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>Cyber Efflux - Quote API</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-seo-dream.css">
    <link rel="stylesheet" href="/static/assets/css/animated.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <h4>Cyber Efflux <img src="/static/assets/images/logo-icon.png" alt=""></h4>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">Features</a></li>
                            <li class="scroll-to-section"><a href="#about">About Us</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="row">

                                    <div class="col-lg-4 col-sm-4">
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                    </div>
                                    <div class="col-lg-12">
                                        <h2>Cyber Efflux - Quote API</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="/static/assets/images/banner-right-image.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-12 text-center">
            <h2>Welcome</h2>
            <h2 class="display-6 font-italic">
                <blockquote>&ldquo;{{value}}.&rdquo; &mdash;
                    <footer>{{author}}</footer>
                </blockquote>
            </h2>
        </div>
    </div>

    <div id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-content">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                    <div class="first-number number">
                                        <h6>01</h6>
                                    </div>
                                    <div class="icon"></div>
                                    <h4>User friendly</h4>
                                    <div class="line-dec"></div>
                                    <p>We keep the API structure very simple, so that you can use and customise it according to your own need.</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                                    <div class="second-number number">
                                        <h6>02</h6>
                                    </div>
                                    <div class="icon"></div>
                                    <h4>No API Key Required</h4>
                                    <div class="line-dec"></div>
                                    <p>The Efflux API is available for free, but you must not utilise it in excess of the recommended request volume.</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <div class="third-number number">
                                        <h6>03</h6>
                                    </div>
                                    <div class="icon"></div>
                                    <h4>Implementation</h4>
                                    <div class="line-dec"></div>
                                    <p>Using our API is a breeze. Scroll down to see some samples.</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="fourth-number number">
                                        <h6>04</h6>
                                    </div>
                                    <div class="icon"></div>
                                    <h4>Open Source</h4>
                                    <div class="line-dec"></div>
                                    <p>People with skills and creativity are always invited to contribute; you can do so on our <a rel="nofollow" href="https://github.com/EFFLUX110/api" target="_blank">Github</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="about" class="about-us section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <img src="/static/assets/images/about-left-image.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="section-heading">
                                    <h6>About Us</h6>
                                    <h2>Responsive <em>API</em> to retrieve <span>inspirational quotes</span></h2>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="about-item">
                                            <h4>7+</h4>
                                            <h6>Sub Domains</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="about-item">
                                            <h4>700+</h4>
                                            <h6>Quotes</h6>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="about-item">
                                            <h4>60+</h4>
                                            <h6>Posts</h6>
                                        </div>
                                    </div>
                                </div>
                                <p>Cyber Efflux API is a simple API that may be used to retrieve JSON-formatted quotes from historical figures. We do not require registration or an API key to use our services. With only one request, you can receive a lovely
                                    quote.
                                </p>
                                <div class="main-green-button"><a href="#">Discover company</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="services" class="our-services section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                    <h6>Our Services</h6>
                                    <h2>Discover What We Do &amp; <span>Offer</span> To Our <em>Clients</em></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="icon">
                                                <img src="/static/assets/images/service-icon-01.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="right-content">
                                                <h4>Random Quote</h4>
                                                <p><a rel="nofollow" href="https://efflux.herokuapp.com/random" target="_blank">https://efflux.herokuapp.com/random</a> - Get a random quote on each request.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="icon">
                                                <img src="/static/assets/images/service-icon-02.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="right-content">
                                                <h4>Hustle</h4>
                                                <p><a rel="nofollow" href="https://efflux.herokuapp.com/hustle" target="_blank">https://efflux.herokuapp.com/hustle</a> - Get a hustle quote on each request.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="icon">
                                                <img src="/static/assets/images/service-icon-02.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="right-content">
                                                <h4>Business Quote</h4>
                                                <p><a rel="nofollow" href="https://efflux.herokuapp.com/business" target="_blank">https://efflux.herokuapp.com/business</a> - Get a business related quote on each request.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="icon">
                                                <img src="/static/assets/images/service-icon-03.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="right-content">
                                                <h4>Life Quote</h4>
                                                <p><a rel="nofollow" href="https://efflux.herokuapp.com/life" target="_blank">https://efflux.herokuapp.com/life</a> - Get a life quote on each request.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="icon">
                                                <img src="/static/assets/images/service-icon-03.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="right-content">
                                                <h4>Friendship Quote</h4>
                                                <p><a rel="nofollow" href="https://efflux.herokuapp.com/friendship" target="_blank">https://efflux.herokuapp.com/friendship</a> - Get a friendship quote on each request.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="icon">
                                                <img src="/static/assets/images/service-icon-01.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="right-content">
                                                <h4>Love Quote</h4>
                                                <p><a rel="nofollow" href="https://efflux.herokuapp.com/love" target="_blank">https://efflux.herokuapp.com/love</a> - Get a love quote on each request.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="icon">
                                                <img src="/static/assets/images/service-icon-02.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="right-content">
                                                <h4>War</h4>
                                                <p><a rel="nofollow" href="https://efflux.herokuapp.com/war" target="_blank">https://efflux.herokuapp.com/war</a> - Get a war quote on each request.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <style>
                    .fa {
                        padding: 20px;
                        font-size: 30px;
                        width: 70px;
                        text-align: center;
                        text-decoration: none;
                        margin: 5px 2px;
                        border-radius: 50%;
                    }
                    
                    .fa:hover {
                        opacity: 0.7;
                    }
                    
                    .fa-pinterest {
                        background: #cb2027;
                        color: white;
                    }
                    
                    .fa-twitter {
                        background: #55ACEE;
                        color: white;
                    }
                    
                    .fa-youtube {
                        background: #bb0000;
                        color: white;
                    }
                    
                    .fa-instagram {
                        background: #125688;
                        color: white;
                    }
                    
                    .fa-rss {
                        background: #ff6600;
                        color: white;
                    }
                </style>
                <p>
                    <a href="https://www.instagram.com/cyber_efflux/" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/EFFLUX110" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/channel/UCvDvAt0hieByxwHxYYKU5MQ" class="fa fa-youtube"></a>
                </p>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2021 SEO Dream Co., Ltd. All Rights Reserved.

                        <br>Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/animation.js"></script>
    <script src="/static/assets/js/imagesloaded.js"></script>
    <script src="/static/assets/js/custom.js"></script>

</body>

</html>